:root {
  --color-primary: #a9d1da;
  --color-secondary: #1f4179;
  --color-accent-green: #c7efe5;
  --color-accent-pink: #fdb7be;
  --color-accent-orange: #ffc0ac;
  --color-neutral-grey: #ececec;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Playfair Display", serif;
}
