:root {
  --color-primary: #e3f6ff;
  --color-primary-dark: #446299;
  --color-secondary: #beede4;
  --color-accent-pink: #ffbbc6;
  --color-accent-orange: #ffcdbd;
  --color-neutral-grey: #f6f6f6;
  --color-neutral-white: #fff;
  --color-neutral-black: #000;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Playfair Display", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary-dark);
}

p {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  color: var(--color-neutral-black);
}

mark {
  background-color: var(--color-secondary);
}

/* @utility width: 75% (custom based on modulifier) */
.w-3-4 {
  width: 75%;
}

/* @utility 50% opacity (mainly for text) */
.opa-50 {
  opacity: .5;
}

/* @utility apply a white background */
.white-bg {
  background-color: var(--color-neutral-white);
}

/* @utility apply a white background with 50% opacity (opacity can be overwritten by css) */
.white-bg-50opa {
  background-color: var(--color-neutral-white);
  opacity: 50%;
}

/* @utility font-weight: 600 */
.fw-600 {
  font-weight: 600;
}

/* @utility font-weight: 700 (bold) */
.fw-700 {
  font-weight: 700;
}

/* @utility new wider (75em) wrapper class based on modulifier */
.wrapper-75 {
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  width: 100%;
}
