.btn {
  font-family: var(--font-primary);
  font-weight: 600;
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-neutral-white);
  border-radius: 5px;
  transition: background-color .125s linear, border-color .125s linear;
}

.btn-ghost {
  background-color: var(--color-neutral-white);
  border-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn-light {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn-light:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary-dark);
}
