/* main nav */

.nav-list {
  justify-content: space-around;
}

#toggle-nav-close {
  opacity: 0;
}

#toggle-nav-open,
#toggle-nav-close {
  transition: opacity .125s linear;
}

.nav-btn-active #toggle-nav-close {
  opacity: 1;
}

.nav-btn-active #toggle-nav-open {
  opacity: 0;
}

.nav-links {
  opacity: 0;
  transition: opacity .125s linear;
}

.nav-visible {
  opacity: 1;
}

@media only screen and (min-width: 38em) {

  .nav-links {
    opacity: 1;
  }

  .nav-btn {
    display: none;
  }

  .nav-list {
    display: flex;
  }

}

/* page numbers */

.page-number-hover {
  transition: background-color .125s linear;
}

.page-number-hover:hover {
  background-color: var(--color-primary);
}

.page-number-selected {
  background-color: var(--color-secondary);
}
