.artist-featured-icon {
  max-width: 72px;
}

.artist-featured-icon p {
  max-width: none;
}

/* print media */

.print-media {
  background: url("/images/printmedia-bg.svg") center center / cover no-repeat;
}

@media only screen and (min-width: 38em) {

  .print-media ul {
    column-count: 2;
  }

}

@media only screen and (min-width: 60em) {

  .print-media ul {
    column-count: 3;
  }

}
