.card {
  background-color: var(--color-neutral-white);
  overflow: hidden;
}

.card-hover img {
  transition: transform .125s linear;
}

.card-hover:hover img:not(.img-weird) {
  transform: scale(1.15);
}

.card-shadow {
  box-shadow: 5px 5px 10px rgba(72, 104, 158, .1);
}

/* product-card */

.product-card-more-info {
  opacity: 0;
  transition: opacity .125s .1s linear;
}

.product-card-hover:hover .product-card-more-info {
  opacity: .75;
}

/* info-card */

.img-h-flex {
  display: block;
  height: 100%;
}

.info-card-bg {
  padding-top: 60%;
  overflow: hidden;
}

/* img-card */

@media only screen and (min-width: 38em) {

.img-card-favourite {
  opacity: 0;
  transition: opacity .125s linear;
}

.img-card-hover:hover .img-card-favourite {
  opacity: 1;
}

}
