.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(72, 104, 158, .25);
}

ul, h3 {
  font-family: var(--font-primary);
}

.product-card-more-info {
  opacity: 0;
  transition: opacity .25s linear;
}


.product-card-hover:hover .product-card-more-info {
  opacity: .75;
}
