<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon-196.png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,900|Playfair+Display:400,400i,600,700,900&display=swap">

</head>
<body>

  <ul class="skip-links">
    <li><a href="#nav">Jump to Navigation</a></li>
    <li><a href="#main">Jump to Main content</a></li>
  </ul>

  <div class="relative center-text island-1-4" style="background-color: var(--color-secondary);">
    <a href="/promo">New! Large Order Sale!</a>
  </div>


  {% pattern header/main-header %}
  {{content}}
  {% pattern footer/footer %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/nav.js"></script>

</body>
</html>
