/* form patterns are styled by html elements, not by specific files like other patterns */

label {
  font-family: var(--font-primary);
  color: var(--color-neutral-black);
  padding-bottom: .25em;
}

input, textarea, select {
  font-family: var(--font-primary);
  min-height: 2.5em;
  border-width: 0;
  box-shadow: 2.5px 2.5px 5px rgba(72, 104, 158, .25);
  padding-left: 1em;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="monthd"] {
  padding-left: 1em;
}

input:focus, textarea:focus, select:focus {
  border-color: var(--color-primary-dark);
  outline: none;
}

/* radio */

input[type="radio"] + label::before {
width: 1.5em;
height: 1.5em;
border: 1px solid var(--color-neutral-black);
}

input[type="radio"]:checked +label::before {
  background-color: var(--color-secondary);
}

/* padding adjust */

@media only screen and (max-width: 38em) {

  .no-padding-upto-med-screen {
    padding: 0;
  }

}

@media only screen and (max-width: 60em) {

  .no-padding-upto-large-screen {
  padding: 0;
  }

}

/* checkout shipping description */

.checkout-desc-list {
  padding-left: 2.25rem;
}
